body{
    height: 100%;
    background-image: url(https://image.shutterstock.com/image-photo/abstract-blue-background-crystal-refractions-260nw-201800117.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#game-title {
    color: white;
}

#game-directions{
    color:blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

#targetNum-text, #totalScore-text {
    text-align: center;
    color: red;
    font-size: 28px;
}

#gem1, #gem2, #gem3, #gem4 {
    
    margin: 10px;
    height: 175px;
    
}

 img {
     width: 150px;
     height: 170px;
     padding: 0px;
 }

 #totalScore {
     margin: 10px 0px 0px 0px;
 }
