body{
    height: 100%;
    background-image: url(https://image.shutterstock.com/image-photo/abstract-blue-background-crystal-refractions-260nw-201800117.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#game-title {
    color: white;
}

#game-directions{
    color:blue;
    margin-top: 10px;
    margin-bottom: 10px;
}



#gem1, #gem2, #gem3, #gem4 {
    
    margin: 10px 10px 10px 0px;
    height: 200px;
    
}

 img {
     width: 150px;
     height: 200px;
     padding: 0px;
 }
